<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stop home page</title>
</head>
<body>
<a th:href="@{/add-robots}">Create robot</a> |
<a th:href="@{/add-work}">Create Work</a> |
<h2><a th:href="@{/home}">Start mini world!</a></h2>
</div>
<div style="text-align: center;">Robots list</div>
<div>
    <ul>
        <p th:each="allRobots : ${allRobots}">
            <t th:text="${allRobots.id}"></t>
            | Bender №
            <t th:text="${allRobots.numberRobot}"></t>
            |
        </p>
    </ul>
</div>
<div style="text-align: center;">Works for robots</div>
<div>
    <ul>
        <p th:each="allWorks : ${allWorks}"> |
            Work name:
            <a th:href="@{/add-robots-on-work/(id=${allWorks.id})}" th:text="*{allWorks.works}">Project list</a> |
            How many robots need:
            <t th:text="${allWorks.sizeWork}">How many robots:</t>|
        </p>
    </ul>
</div>
<div style="text-align: center;">LOG</div>
<div>
    <ul>

        <p th:each="allLog : ${allLog}"> |
            Log:
            <t th:text="${allLog.log}">How many robots:</t>
            |
            Time:
            <t th:text="${allLog.time}">How many robots:</t>
            |
        </p>
    </ul>
</div>
</body>
</html>